<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../Imagens/ncd_ufes_logo-removebg-preview_resized (1).png">
</head>
<body>
    <form id="formulario">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br>
        <label for="pergunta">Qual a sua materia favorita de escola?</label><br>
        <input type="text" id="pergunta" name="pergunta"><br>
        <button><a href="../index.html">Cadastrar</a></button>
    </form>
    
</body>
</html>